@define-color red #BF616A;
@define-color green #A3BE8C;
@define-color foreground #D8DEE9;
@define-color background #2E3440;
@define-color highlight #88C0D0;

#window,
#box,
#aiScroll,
#aiList,
#search,
#password,
#input,
#prompt,
#clear,
#typeahead,
#list,
child,
scrollbar,
slider,
#item,
#text,
#label,
#bar,
#sub,
#activationlabel {
  all: unset;
}

#cfgerr {
  background: @red;
  margin-top: 20px;
  padding: 8px;
  font-size: 1.2em;
}

#window {
  color: @foreground;
}

#box {
  background: alpha(@background, 0.95);
  padding: 8px;
  border: 2px solid lighter(@background);
  border-radius: 0.5rem;
  box-shadow:
    0 19px 38px rgba(0, 0, 0, 0.3),
    0 15px 12px rgba(0, 0, 0, 0.22);
}

#search {
  border: 1px solid alpha(@foreground, 0.1);
  box-shadow:
    0 1px 3px rgba(0, 0, 0, 0.1),
    0 1px 2px rgba(0, 0, 0, 0.22);
  background: lighter(@background);
  border-radius: 0.2rem;
  padding: 16px;
}

#prompt {
  margin-left: 4px;
  margin-right: 12px;
  color: @foreground;
  opacity: 0.2;
}

#clear {
  color: @foreground;
  opacity: 0.8;
}

#password,
#input,
#typeahead {
  border-radius: 2px;
}

#input {
  padding: 4px 0px;
}

#password {
}

#spinner {
  padding: 8px;
}

#typeahead {
  color: @foreground;
  opacity: 0.8;
}

#input placeholder {
  opacity: 0.5;
}

#list {
  border-radius: 0.2rem;
  box-shadow: 0 0 38px rgba(0, 0, 0, 0.3);
}

child {
  min-height: 32px;
  padding: 8px 8px;
}

child:selected,
child:hover {
  background: alpha(@foreground, 0.1);
}

#item {
}

#icon {
  margin-right: 8px;
}

#text {
}

#label {
  font-weight: 500;
}

#sub {
  opacity: 0.5;
  font-size: 0.8em;
}

#activationlabel {
}

#bar {
}

.barentry {
}

.activation #activationlabel {
  color: @green;
  font-weight: 1000;
}

.activation #sub,
.activation #icon,
.activation #search {
  opacity: 0.1;
}

.activation #text {
  opacity: 0.5;
}

.aiItem {
  padding: 10px;
  border-radius: 2px;
  color: @foreground;
  background: @background;
}

.aiItem.user {
  padding-left: 0;
  padding-right: 0;
}

.aiItem.assistant {
  background: lighter(@background);
}
